# Ignore all
/*

# Add Files
!README.md
!CHANGELOG.md
!Starstruck
!Starstruck.sln
!.gitignore
!.github
!LICENSE
!assets
!NuGet.Config
!libs

# Ignore files
Starstruck/bin
Starstruck/obj
**.user

# Add Files
!*.template.*.user