# Ignore All
/*

# Add Files
!README.md
!CHANGELOG.md
!Starstruck
!Starstruck.sln
!.gitignore
!.github
!LICENSE
!assets
!NuGet.Config
!libs
!Starstruck.UnityProject

# Ignore Files
Starstruck/bin
Starstruck/obj
**.user

# Add Files
!*.template.*.user